<%- include("header") -%> 

    <header class="header">
        
        <div class="container">
            <form action="/" method="POST">
            <button class="btn btn-white btn-animated" type="submit"> Donate </button>
        </form>
        </div>
        

    </header>

    
    
    


<%- include("footer") -%>